.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* <nav className="navbar navbar-expand-lg navbar-light bg-light">
<a className="navbar-brand" href="">
  My App
</a>

<div className="ml-5">
  <ul className="navbar-nav">
    <li className="navbar-item mr-5">
      <a className="nav-link" href="#">
        My tasks
      </a>
    </li>
    <li className="navbar-item">
      <a className="nav-link" href="#">
        Add task
      </a>
    </li>
  </ul>
</div>
</nav> */
